<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <style> </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="rebeccapurple" />
    <meta name="color-scheme" content="dark light">
</head>
<body>
<main>
<section>
<h2>Errors:</h2>
{{ $errs := HTTPErrors . }}
<ol>
{{range $i, $err := $errs }}
<li>{{$err.Message}}
{{ if $err.Trace }}
<details><summary>Details</summary>
<pre><code>{{$err.Trace | printf "%+v"}}</code></pre>
</details>
{{end}}
</li>
{{end}}
</ol>
</section>
</main>
<footer></footer>
</body>
</html>
