<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <style> </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="rebeccapurple" />
    <meta name="color-scheme" content="dark light">
    <style>
        img, svg { max-height: 1.2rem; margin: 0 0 -.2rem .2rem; background-color: contrast-color(Window); aspect-ratio: 1/1; }
        fieldset { max-width: fit-content; }
    </style>
{{- $server := nameOf .Server -}}
{{- $handle := nameOf .Account -}}
{{- $client := nameOf .Client -}}
{{- $icon := iconOf .Client -}}
</head>
<body>
<header><h1>{{- $server -}}</h1></header>
<main>
    <form method="post">
        <fieldset>
            <h3>New authorization request from client<br/>
                <strong>{{- $icon }} {{ $client }}</strong></h3>
            <hr/>
            <input type="hidden" name="state" value="{{.State}}" />
            <input type="hidden" name="client" value="{{.Client.ID}}" />
            <label for="auth-handle">Handle:</label><br/>
            <input name="handle" id="auth-handle" type="text" size="40" {{ if $handle }}readonly value="{{ $handle }}" {{end -}} required/><br/>
            <label for="auth-pw">Password: </label><br/>
            <input name="pw" id="auth-pw" type="password" autofocus size="40" required/><br/>
            <button type="submit">Log in</button>
            <a href="{{ redirectURI }}">Cancel and return</a>
        </fieldset>
    </form>
</main>
<footer></footer>
</body>
</html>
